.ui.topmenu.menu {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: transparent;
}
body {
  background-color: white;
  font-size: 14px;
}
.comment {
  text-align: center;
  font-size: 12px;
}
.ui.inverted.menu{
  padding-bottom: 20px;
  padding-top: 20px;
}
.ui.inverted.menu.items{
  font-size: 30px;
}
.title {
padding:0;
margin-top: 0;
margin-bottom: 0;
}
.bg-home  {
  background-image: url("images/yokohama.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.center-button {
  text-align: center;
}

hr {
  color:black;
}
.bg{
  background-image: url("images/yokohama.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
  /* Full height */
   height:300vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   background-attachment: scroll;
}
.star {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height:300vh;
}

.push {
  height: 50px;
}

.title {
  padding:0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;           /* Footer height */
}
p {
  font-size: 14px;
}
.project {
  font-size: 18px;
  line-height: 15px;
}
.ui.menu{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: cyan;
  border-bottom: 0 none !important;
  box-shadow: none;
}

.bg-home  {
  background-image: url("images/yokohama.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
/*center screen*/
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cyan {
  background-color: cyan;
}
 p {
  font-size: 16px;
}
.blue h2 {
  color: white;
}
